h1 {
    font-family: "Roboto";
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.connection-manager,
.distance-measurement {
    display: flex;
    justify-content: flex-end;
    font-family: 'Courier New', Courier, monospace;
    gap: 10px;
    padding: 10px;
}

.calibrator {
    display: flex;
    flex-direction: column;
    max-width: 256px;
}

.move-button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3px;
}

.move-button-grid {
    display: grid;
    aspect-ratio: 5 / 3;
    gap: 3px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    background-color: black;
}

.move-button,
.left-rotate-button,
.right-rotate-button {
    transition: 0.25s;
    background-color: #212121;
    color: #FBC02D;
    font-family: "Roboto";
    font-size: larger;
    border: none;
    user-select: none;
}

.move-button:hover,
.left-rotate-button:hover,
.right-rotate-button:hover {
    transition: 0.25s;
    background-color: #424242;
}

.move-button:active,
.left-rotate-button:active,
.right-rotate-button:active {
    transition: 0.5s;
    background-color: #FBC02D;
    color: #FFF9C4;
}

.left-rotate-button {
    grid-column: 1;
    grid-row: 1 / span 3;
}

.right-rotate-button {
    grid-column: 5;
    grid-row: 1 / span 3;
}